footer.main-footer
  .container
    .footer-content
      .footer-section
        p.copyright &copy; 2026 MESK - Arapça Hat Sanatı
      .footer-section
        .social-links
          a(href="#" aria-label="Instagram") Instagram
          a(href="#" aria-label="Twitter") Twitter